<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header') %>

            <main>

                <div class="products-container">

                    <div class="container products-wrapper">
                        <div class="row">
                            <div class="col-12" id="allProdC">
                                <h2 class="products-title">(<%=searchResults.length%>) Resultado<%if (searchResults.length > 1){ %>s<%}%> para: "<%=keyW%>" </h2>
                            </div>

                            <!-- Show All products -->
                            <% searchResults.forEach(function(product){ let finalPrice=(product.price * ((100 -
                                product.discount) / 100)).toFixed(0) %>
                                <div class="col-12 col-sm-6 col-lg-3" id="prodCol">
                                    <section class="product-box">
                                        <a href="/products/detail/<%= product.id %>">
                                            <figure class="product-box_image">
                                                <img src="../../image/product-detail-img/<%= product.image %>"
                                                    alt="imagen de producto">
                                            </figure>
                                            <article class="product-box_data">
                                                <h2>
                                                    <%= product.name %>
                                                </h2>
                                                <span>DESCUENTO <%= product.discount %> %OFF</span>
                                                <h5>PRECIO: USD <%= toThousand(finalPrice) %>
                                                </h5>

                                            </article>
                                        </a>
                                    </section>
                                </div>

                                <% }) %>

                        </div>

                    </div>
                </div>

              

            </main>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>