<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header.ejs') %>

            <main>
                <div id="category-container">
                    <!-- <a href="/">Juegos,</a>
            <a href="/">Playstation</a> -->
                </div>

                <div id="product-container">

                    <p id="title">
                        <%= product.name %>
                    </p>
                    <div id="img-container">

                        <img src="/image/product-detail-img/<%= product.image %> " alt="<%= " imagen de:" + " " +
                            product.name %> " class="product-img">

                        <div id="img-detail">

                            <img src="/image/product-detail-img/<%= product.image2 %>" alt="<%= " imagen de:" + " " +
                                product.name %>" class="img-detail">
                            <img src="/image/product-detail-img/<%= product.image3 %>" alt="<%= " imagen de:" + " " +
                                product.name %>" class="img-detail">
                            <img src="/image/product-detail-img/<%= product.image4 %>" alt="<%= " imagen de:" + " " +
                                product.name %>" class="img-detail">

                        </div>
                    </div>

                    <div id="product-card">
                        <div id="off-container">
                            <p class="price">
                                <%= "$USD" + " " + product.price %>
                            </p>
                            <p>
                                <%= product.discount + " " + "%" %>
                            </p>
                        </div>

                        <p class="description">
                            <%= product.description %>
                        </p>

                        <div id="button-container">
                            <button>Comprar</button>
                            <button>Agregar al carrito</button>

                            <a href="/products/edit/<%= product.id %>" class="action-button edit">
                                <button>Editar</button></a>

                            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST"
                                style="display: inline-flex">
                                <button type="submit" class="action-button delete">Eliminar</button>
                            </form>

                        </div>

                    </div>

                </div>

            </main>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>