<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>

            <!-- BANNER  -->
            <section id="banner-container" class="bannerC">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/products/detail/10">
                                <img src="image/banner1.png" alt="FIFA 2023" class="carousel">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/products/detail/9">
                                <img src="image/banner2.jpg" alt="Apex Legends" class="carousel">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/products/detail/4">
                                <img src="image/banner3.png" alt="Need for Speed™ Unbound" class="carousel">
                            </a>
                        </div>
                    </div>
                </div>

            </section>
            <br>

            <a href="/products"> </a>
            <main>



                <br>
                <!-- SECCIÓN DE CATEGORÍAS -->
                <section class="categorias">


                    <div class="categ-container">

                        <div class="container-duo">
                            <span class="material-symbols-outlined">
                                rocket_launch
                            </span>

                            <p>Accion</p>

                        </div>
                        <div class="container-duo">
                            <span class="material-symbols-outlined">
                                toys
                            </span>
                            <p>Aventura</p>
                        </div>
                        <div class="container-duo">
                            <span class="material-symbols-outlined">
                                sports_soccer
                            </span>
                            <p>Deportes</p>
                        </div>
                        <div class="container-duo">
                            <span class="material-symbols-outlined">
                                casino
                            </span>
                            <p>Estrategia</p>
                        </div>


                    </div>

                </section>
                <br>
                <br>
                <!-- SECCIÓN DE NUEVOS PRODUCTOS / LANZAMIENTOS -->
                <section class="productos-nuevos">
                    <div class="lanza">
                        <p>LANZAMIENTOS</p>
                    </div>
                    <br>
                    <div class="products-container">

                        <div class="container products-wrapper">

                            <!-- Show the "in-sale" products -->
                            <% nuevos.forEach(function(product){ let finalPrice=(product.price * ((100 -
                                product.discount) / 100)).toFixed(0) %>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <section class="product-box">
                                        <a href="/products/detail/<%= product.id %>">
                                            <figure class="product-box_image">
                                                <img src="image/product-detail-img/<%= product.image %>"
                                                    alt="imagen de producto">
                                            </figure>
                                            <article class="product-box_data">
                                                <h2>
                                                    <%= product.name %>
                                                </h2>
                                                <span>DESCUENTO <%= product.discount %> %OFF</span>
                                                <p>PRECIO: USD <%= toThousand(finalPrice) %>
                                                </p>

                                            </article>
                                        </a>
                                    </section>
                                </div>
                                <% }) %>
                        </div>
                    </div>

                    </div>

                </section>

                <br>
                <br>

                <!-- CATEGORÍAS POR MARCAS -->
                <section class="marcas-videojuego">


                    <br>
                    <div class="lanza">
                        <p>ELIGE TU FORMA DE JUGAR</p>
                    </div>
                    <br>

                    <a href="/products">
                        <div class="products-container">
                            <img src="image/playStation.png" alt="item-playstation" class="marcas-games">

                            <img src="image/nintendo.png" alt="item-nintendo" class="marcas-games">

                            <img src="image/xbox.png" alt="item-xbox" class="marcas-games">

                        </div>
                    </a>
                    <br>
                    <br>
                </section>

                <br>

            </main>


            <%- include('partials/footer.ejs') %>

                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
                    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
                    crossorigin="anonymous"></script>

    </body>

</html>