<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>

            <main>
                <h2 class="products-title">Edición de usuario: <i>
                        <%= userToEdit.name %>
                            <%= userToEdit.lastname %>
                    </i></h2>

                <form action="/users/edit/ <%= userToEdit.id_users %>" method="POST" class="login-register"
                    enctype="multipart/form-data">

                    <div id="imgForm">
                        <img src="/image/users/<%= userToEdit.image %> " width="100">
                        <br>

                    </div>
                    <% if (locals.errors && errors.image) { %>
                        <div class="text-danger">
                            <%= errors.image.msg %>
                        </div>
                        <br>
                        <% } %>

                            <div>
                                <label for="name" class="login-etiqueta">NOMBRE </label>
                                <input type="text" id="nombre" name="name"
                                    class="login-input <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                    value="<%= userToEdit.name %>">
                                <% if (locals.errors && errors.name) { %>
                                    <div class="text-danger">
                                        <%= errors.name.msg %>
                                    </div>
                                    <br>
                                    <% } %>
                            </div>
                            <div class="register-text">
                                <label for="lastname" class="login-etiqueta">APELLIDO</label>
                                <input type="text" id="apellido" name="lastname" class="login-input"
                                    value="<%= userToEdit.lastname %>">

                            </div>
                            <div>
                                <label for="direction" class="login-etiqueta">NACIONALIDAD</label>
                                <input type="text" id="nacionalidad" name="direction" class="login-input"
                                    value="<%= userToEdit.direction %>"">
            </div>
            <div>
                <label for=" date" class="login-etiqueta">FECHA DE NACIMIENTO</label>
                                <input type="date" name="date" id="fechaNacimiento" class="login-input"
                                    value="<%= userToEdit.date %>">
                            </div>
                            <div>
                                <label for="email" class="login-etiqueta">E-MAIL</label>
                                <input type="text" id="mail" name="email"
                                    class="login-input <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                                    value="<%= userToEdit.email %>">
                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-danger">
                                        <%= errors.email.msg %>
                                    </div>

                                    <% } %>
                            </div>
                            <div>
                                <label for="password" class="login-etiqueta">PASSWORD</label>
                                <input type="password" id="password" name="password"
                                    class="login-input <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                                <% if (locals.errors && errors.password) { %>
                                    <div class="text-danger">
                                        <%= errors.password.msg %>
                                    </div>
                                    <br>
                                    <% } %>
                            </div>
                            <div>
                                <label for="passwordRepite" class="login-etiqueta">REPITA PASSWORD</label>
                                <input type="password" id="passwordRepite" name="passwordRepite" class="login-input"
                                    value="<%= userToEdit.passwordRepite %>">
                            </div>
                            <div>
                                <label for="gender">GENERO</label>
                            </div>
                            <div>
                                <input type="radio" name="gender" value="Male" <%=( 'Male'==userToEdit.gender)
                                    ? 'selected' : null %>>
                                <label for="gender">Male</label>
                                <input type="radio" name="gender" value="Female" <%=( 'Female'==userToEdit.gender)
                                    ? 'selected' : null %>>
                                <label for="gender">Female</label>
                            </div>
                            <br>
                            <div id="imgForm">
                                <label for="image">IMAGEN DE PERFIL</label>
                                <input type="file" name="image" class="login-input" accept="image/*"
                                    value="<%= userToEdit.image %>">
                                <br>
                            </div>


                            <div>
                                <button type="submit" class="action-button delete">Guardar</button>
                            </div>
                </form>
            </main>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>